.container {
    background-color: #f6f6ef;
}

.table-sm {
    margin: 1px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.title {
    color: #000000;
}

.subtext {
    color: #828282;
    margin-bottom: 5px;
}