<div class="container">
    <div *ngFor="let a of headingNewsArray" class="table table-dark table-sm">
        <tr>
            <td class="title">{{a.title}}</td>
        </tr>
        <tr>
            <td class="subtext">{{a.num_comments}} comments |
                 {{a.points}} points by {{a.author}} | story id: {{a.objectID}} | 
                <a href="{{a.url}}" class="btn btn-dark btn-small" style="margin-bottom: 2px;">Read article</a>
            </td>
        </tr>
    </div>
</div>