<!--<ngx-loading-bar [color]="'#ffffff'" [includeSpinner]="false"></ngx-loading-bar> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">HNews Clone</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link disabled" aria-current="page" routerLink="" aria-disabled="true">new</a>
          <a class="nav-link disabled" aria-current="page" routerLink="" aria-disabled="true">past</a>
          <a class="nav-link" routerLink="comments">comments</a>
        </div>
      </div>
    </div>
  </nav>